# =========================
# Build / compilação geral
# =========================
*.o
*.obj
*.ko
*.elf
*.hex
*.out
*.exe
*.app

# Dependências geradas
*.d

# Bibliotecas compiladas
*.a
*.la
*.lo
*.lib
*.so
*.so.*
*.dll
*.dylib

# Linker / debug
*.ilk
*.map
*.exp
*.dSYM/
*.su
*.idb
*.pdb
*.dwo

# Coverage (opcional)
*.gcno
*.gcda
*.gcov

# =========================
# PlatformIO
# =========================
.pio/
.pioenvs/
.piolibdeps/

# =========================
# VSCode / VSCodium
# =========================
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

# =========================
# Atmel Studio (IGNORA SÓ O PESSOAL)
# =========================
*.cproj.user
*.atsuo
*.componentinfo.xml
*.aps

# =========================
# Logs
# =========================
*.log

# =========================
# Sistema operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporários
# =========================
*~
*.tmp
*.bak